@use '../abstracts' as *;

/* ==========================================
   CONTAINER
========================================== */

.container {

  width:100%;

  max-width:$container-max-width;

  margin-inline:auto;

  padding-inline:$container-padding;

}


/* ==========================================
   CONTAINER SIZES
========================================== */

.container-sm {

  max-width:720px;

}


.container-md {

  max-width:960px;

}


.container-lg {

  max-width:1140px;

}


/* ==========================================
   FLUID CONTAINER
========================================== */

.container-fluid {

  width:100%;

  padding-inline:$container-padding;

}