@if (site(); as siteData) {
<header class="top-header">
  <div class="container">

    <div class="header-left">

      <a
        [href]="'tel:' + siteData.company.phone"
        class="header-link">

        <span class="material-symbols-outlined">call</span>

        {{ siteData.company.phone }}

      </a>

      <a
        [href]="'mailto:' + siteData.company.email"
        class="header-link">

        <span class="material-symbols-outlined">mail</span>

        {{ siteData.company.email }}

      </a>

      <div class="office-hours">

        <span class="material-symbols-outlined">
          schedule
        </span>

        {{ siteData.company.officeHours }}

      </div>

    </div>

    <div class="header-right">

      <a
        [href]="siteData.social.facebook"
        target="_blank"
        aria-label="Facebook">
        Facebook
      </a>

      <a
        [href]="siteData.social.instagram"
        target="_blank"
        aria-label="Instagram">
        Instagram
      </a>

      <a
        [href]="siteData.social.linkedin"
        target="_blank"
        aria-label="LinkedIn">
        LinkedIn
      </a>

      <a
        [href]="siteData.social.youtube"
        target="_blank"
        aria-label="YouTube">
        YouTube
      </a>

    </div>

  </div>
</header>
}