@use '../abstracts' as *;

/* ==========================================
   ROOT
========================================== */

html {
  font-size: 100%;
}

body {
  font-family: $font-body;
  font-size: $text-base;
  font-weight: $font-regular;
  line-height: $leading-normal;

  color: $text-primary;
  background-color: $background;

  overflow-x: hidden;
}

/* ==========================================
   HEADINGS
========================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: $font-bold;
  line-height: $leading-tight;
  color: $text-primary;
}

h1 {
  font-size: $h1-size;
  font-weight: $h1-weight;
}

h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
}

h4 {
  font-size: $h4-size;
  font-weight: $h4-weight;
}

h5 {
  font-size: $h5-size;
  font-weight: $h5-weight;
}

h6 {
  font-size: $h6-size;
  font-weight: $h6-weight;
}

/* ==========================================
   TEXT
========================================== */

p {
  color: $text-secondary;
  line-height: $paragraph-line-height;
  margin-bottom: $space-4;
}

small {
  font-size: $text-sm;
}

strong {
  font-weight: $font-bold;
}

/* ==========================================
   LINKS
========================================== */

a {
  @include transition(color);

  &:hover {
    color: $primary-600;
  }
}

/* ==========================================
   IMAGES
========================================== */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ==========================================
   SECTIONS
========================================== */

section {
  @include section;
}

/* ==========================================
   CONTAINER
========================================== */

.container {
  @include container;
}

/* ==========================================
   SELECTION
========================================== */

::selection {
  background: $primary-500;
  color: $white;
}

main {
  display: block;
}

hr {
  border: 0;
  border-top: 1px solid $border;
  margin: $space-8 0;
}