@use '../abstracts' as *;

/* ==========================================
   SCROLLBAR
========================================== */

::-webkit-scrollbar {
  width: .75rem;
  height: .75rem;
}

::-webkit-scrollbar-track {
  background: $gray-100;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: $radius-full;
  border: 2px solid $gray-100;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-hover;
}

::-webkit-scrollbar-corner {
  background: $gray-100;
}

/* ==========================================
   FIREFOX
========================================== */

* {
  scrollbar-width: thin;
  scrollbar-color: $primary $gray-100;
}