@use '../abstracts' as *;

/* ==========================================
   SCROLLBAR
========================================== */

::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: $gray-100;
}

::-webkit-scrollbar-thumb {
  background: $primary-500;
  border-radius: $radius-full;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-700;
}

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: $primary-500 $gray-100;
}